<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>德州扑克游戏</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="settings-container">
        <label for="player-count">玩家数量:</label>
        <input type="number" id="player-count" min="2" max="10" value="2">
        <button id="start-game">开始游戏</button>
      </div>
      <div class="game-container">
        <div class="scoreboard"></div>
        <div class="table">
            <div class="community-cards"></div>
            <div class="players"></div>
        </div>
        <div class="controls">
            <button class="action-btn" id="fold">弃牌</button>
            <button class="action-btn" id="check">过牌</button>
            <button class="action-btn" id="call">跟注</button>
            <div class="raise-container">
                <input type="number" id="raise-amount" placeholder="加注金额">
                <button class="action-btn" id="raise">加注</button>
            </div>
        </div>
        <button class="action-btn" id="show-hand">看牌</button>
         <button class="action-btn" id="view-next-hand" style="display: none;">查看完毕</button>
    </div>
    <script src="../static/js/poker-evaluator.js"></script>
    <script src="../static/js/game.js"></script>
</body>
</html>